:root {
  --primary-color: #022a5b; 
  --secondary-color: rgb(163, 201, 214); 
  --accent-color: #1d6277; 
  --background-color: #f8f9fa; 
  --text-dark: #022a5b;
  --text-light: #636e72;
  --white: #ffffff;
  --black: #000000;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

  body {
    background-color: rgb(203, 224, 231);
    font-family: "Roboto", sans-serif;
    padding: 20px;
  }

  .update-form {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
  }

  .submit-btn, .btn, .back-btn {
    background-color: var(--primary-color);
  }

  .back-btn {
    margin-bottom: 20px;
  }

  .profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
  }