:root {
    --primary-color: #022a5b;
    --secondary-color: #1d6277;
    --background-color: rgb(203, 224, 231);
  }

  body {
    background-color: var(--background-color);
    font-family: "Roboto", sans-serif;
    padding: 20px;
  }

  .btn {
    background-color: var(--primary-color);
  }

  .btn:hover {
    background-color: var(--secondary-color);
  }

  .update-form {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
  }

  .submit-btn {
    background-color: var(--primary-color);
  }

  .back-btn {
    margin-bottom: 20px;
    background-color: var(--primary-color);
  }

  .profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
  }